<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashirong.IDao.AdminMapper">
  <resultMap id="BaseResultMap" type="com.mashirong.domain.Admin">
    <id column="adminId" jdbcType="INTEGER" property="adminid" />
    <result column="adminName" jdbcType="VARCHAR" property="adminname" />
    <result column="adminPswd" jdbcType="VARCHAR" property="adminpswd" />
  </resultMap>
  <sql id="Base_Column_List">
    adminId, adminName, adminPswd
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin
    where adminId = #{adminid,jdbcType=INTEGER}
  </select>
  <select id="selectByAdminName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin
    where adminName = #{adminname,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin
    where adminId = #{adminid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mashirong.domain.Admin">
    insert into admin (adminId, adminName, adminPswd
      )
    values (#{adminid,jdbcType=INTEGER}, #{adminname,jdbcType=VARCHAR}, #{adminpswd,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mashirong.domain.Admin">
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminid != null">
        adminId,
      </if>
      <if test="adminname != null">
        adminName,
      </if>
      <if test="adminpswd != null">
        adminPswd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminid != null">
        #{adminid,jdbcType=INTEGER},
      </if>
      <if test="adminname != null">
        #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="adminpswd != null">
        #{adminpswd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mashirong.domain.Admin">
    update admin
    <set>
      <if test="adminname != null">
        adminName = #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="adminpswd != null">
        adminPswd = #{adminpswd,jdbcType=VARCHAR},
      </if>
    </set>
    where adminId = #{adminid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mashirong.domain.Admin">
    update admin
    set adminName = #{adminname,jdbcType=VARCHAR},
      adminPswd = #{adminpswd,jdbcType=VARCHAR}
    where adminId = #{adminid,jdbcType=INTEGER}
  </update>
</mapper>