<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashirong.IDao.VerifyCodeMapper">
  <resultMap id="BaseResultMap" type="com.mashirong.domain.VerifyCode">
    <id column="codeId" jdbcType="INTEGER" property="codeid" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="code" jdbcType="INTEGER" property="code" />
  </resultMap>
  <sql id="Base_Column_List">
    codeId, email, code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from verify_codes
    where codeId = #{codeid,jdbcType=INTEGER}
  </select>
  
  <select id="selectByEmail" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from verify_codes
    where email = #{email,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from verify_codes
    where codeId = #{codeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mashirong.domain.VerifyCode">
    insert into verify_codes (codeId, email, code
      )
    values (#{codeid,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, #{code,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mashirong.domain.VerifyCode">
    insert into verify_codes
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="codeid != null">
        codeId,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="code != null">
        code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="codeid != null">
        #{codeid,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mashirong.domain.VerifyCode">
    update verify_codes
    <set>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=INTEGER},
      </if>
    </set>
    where codeId = #{codeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mashirong.domain.VerifyCode">
    update verify_codes
    set email = #{email,jdbcType=VARCHAR},
      code = #{code,jdbcType=INTEGER}
    where codeId = #{codeid,jdbcType=INTEGER}
  </update>
</mapper>